# IntelliJ IDEA Files
.idea
*.iml
*.iws
atlassian-ide-plugin.xml

# Maven Files
target

# HTML / Grunt Files
output
.temp
*-min.js
*-min.js.map
*-min.css
optimised-modules.json

# NPM Files
node_modules
*.tgz
npm-debug.log

# Librarian Puppet Files
.librarian
.tmp
modules

coverage
lib

# Docs
_book